@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


body{   
    background: url(images/2.png) no-repeat, rgb(30, 32, 39);
    background-size:cover, auto;
    background-size: 100%;
   }


.weather-card{
    background: url(images/1.png) no-repeat, rgb(30, 32, 39);
    background-size:cover, auto;
    background-size: 100%;
    border-radius: 10px;
}